---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gastronomie" currentPage="gastronomie">
  <main>
    <div
      class="w-full flex flex-wrap items-center justify-center mt-12 gap-4 px-2"
    >
      <h1>Gastronomie</h1>
    </div>
  </main>
</Layout>
