---
import ContentCard from "../components/ContentCard.astro";
import Layout from "../layouts/Layout.astro";
import whiteLogo from "../logo_white.png";
import pic1 from "../Cpl_-Sommer-131.jpg";
import pic2 from "../cb4.png";
import Image from "../components/Image.astro";
import Article from "../components/Article.astro";
---

<Layout title="Willkommen im Schwarzwald" currentPage="start">
  <main class="px-2 pb-20">
    <div class="p-16 flex flex-col items-center gap-10">
      <h1 class="text-stone-100 text-xl lg:text-2xl">
        Willkommen im Schwarzwald
      </h1>
      <img src={whiteLogo.src} alt="logo" class="w-full md:w-3/5 lg:w-1/3" />
    </div>
    <div class="flex flex-col gap-16">
      <Article>
        <Image src={pic1.src} alt="Wohnwägen" />
        <ContentCard addStyles="flex flex-col gap-2 md:w-2/3 lg:w-1/2">
          <h1 class="font-bold">Unser Platz</h1>
          <p>
            Unser idyllisch gelegener Campingplatz befindet sich am Waldrand
            oberhalb von Malsch-Waldprechtsweier, eingebettet zwischen den
            malerischen Städten Karlsruhe und Rastatt. Als ganzjähriges
            Urlaubsziel am Rande des nördlichen Schwarzwaldes bieten wir Ihnen
            eine Oase der Ruhe und eine Vielfalt an Freizeitmöglichkeiten.
            Genießen Sie erholsame Tage inmitten einer beeindruckenden
            Naturlandschaft und atmen Sie die frische, klare Luft. Unser
            Campingplatz ist ebenfalls eine hervorragende Wahl für
            Hundebesitzer.
          </p>
          <p>
            Die Anlage erstreckt sich über 3,5 Hektar und verfügt über 220
            Stellplätze - 170 für Dauercamper und 50 für Touristen. Zusätzlich
            bieten wir eine geräumige Zeltwiese, ausgestattet mit einem
            Kinderspielplatz und einer Bouleanlage. Für Ihren Komfort ist unser
            modernes Sanitärgebäude auch im Winter beheizt und umfasst getrennte
            Waschräume, private Wasch- und Duschkabinen, einen separaten Ausguss
            für Chemietoiletten und eine barrierefreie Toilette mit Dusche.
            Zusätzliche Einrichtungen wie eine Spülküche und eine
            Baby-Wickelstation stehen Ihnen ebenfalls zur Verfügung.
          </p>
        </ContentCard>
      </Article>

      <Article>
        <Image src={pic2.src} alt="Zeltplatz" />
        <ContentCard addStyles="flex flex-col gap-2 md:w-2/3 lg:w-1/2">
          <h1 class="font-bold">Freizeitangebot</h1>
          <p>
            Unser Campingplatz bietet den idealen Rückzugsort für eine erholsame
            Auszeit, fernab vom hektischen Alltag. Gleichzeitig können Sie Ihren
            Aufenthalt durch eine Vielzahl von Aktivitäten und Ausflugszielen im
            nördlichen Schwarzwald und dem charmanten Elsass mit seinem
            berühmten Töpferdorf Soufflenheim bereichern. Für Wasserspaß ist das
            nahegelegene, neu gestaltete und beheizte Freibad perfekt geeignet.
            Entdecken Sie die Umgebung mit ihren vielfältigen
          </p>
          <p>
            Freizeitmöglichkeiten. Dazu gehören ein Minigolfplatz, ein
            Kneipp-Tretbecken und ein Kinderspielplatz mit Wasserspielen, die
            sich direkt bei unserer Mehrzweckhalle im Ort befinden. Kulturelle
            Erlebnisse bieten Schlossbesichtigungen in Karlsruhe und Rastatt
            sowie Spaziergänge durch die malerische Innenstadt von Baden-Baden.
          </p>
          <p>
            Für Wellnessliebhaber gibt es in der näheren Umgebung zahlreiche
            Mineral- und Thermalbäder mit Wellness-Angeboten, darunter die
            Albtherme in Waldbronn, das Rotherma in Bad Rothenfels und die
            Caracalla- oder Siebentäler-Therme in Baden-Baden. Direkt vom
            Campingplatz aus können Sie eine hundert Kilometer lange, gut
            ausgeschilderte Nordic-Walking-Route erkunden. Eine Liste mit
            sehenswerten Ausflugszielen inklusive Entfernungsangaben sowie einen
            Nordic-Walking-Routenplan erhalten Sie auf Anfrage gerne an unserer
            Rezeption.
          </p>
        </ContentCard>
      </Article>
    </div>
  </main>
</Layout>
