---
import ContentCard from "../components/ContentCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Preise" currentPage="preise">
  <main>
    <h1 class="flex flex-col items-center text-white font-bold py-6 text-md lg:text-3xl">
      Preisliste
    </h1>
    <div
      class="w-full flex flex-wrap items-center justify-center gap-4 px-2 mb-6 text-sm"
    >
      <ContentCard addStyles="w-full md:w-2/3 lg:w-2/5">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-start">Sonderpreise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 Stunde</td>
              <td>100€</td>
            </tr>
            <tr>
              <td>2 Stunden</td>
              <td>200€</td>
            </tr>
            <tr>
              <td>3 Stunden</td>
              <td>300€</td>
            </tr>
            <tr>
              <td>4 Stunden</td>
              <td>400€</td>
            </tr>
            <tr>
              <td>5 Stunden</td>
              <td>500€</td>
            </tr>
            <tr>
              <td>6 Stunden</td>
              <td>600€</td>
            </tr>
            <tr>
              <td>7 Stunden</td>
              <td>700€</td>
            </tr>
            <tr>
              <td>8 Stunden</td>
              <td>800€</td>
            </tr>
            <tr>
              <td>9 Stunden</td>
              <td>900€</td>
            </tr>
            <tr>
              <td>10 Stunden</td>
              <td>1000€</td>
            </tr>
            <tr>
              <td>11 Stunden</td>
              <td>1100€</td>
            </tr>
            <tr>
              <td>12 Stunden</td>
              <td>1200€</td>
            </tr>
            <tr>
              <td>13 Stunden</td>
              <td>1300€</td>
            </tr>
            <tr>
              <td>14 Stunden</td>
              <td>1400€</td>
            </tr>
            <tr>
              <td>15 Stunden</td>
              <td>1500€</td>
            </tr>
            <tr>
              <td>16 Stunden</td>
              <td>1600€</td>
            </tr>
            <tr>
              <td>17 Stunden</td>
            </tr>
          </tbody>
        </table>
      </ContentCard>
      <ContentCard addStyles="w-full md:w-2/3 lg:w-2/5">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-start">Sonderpreise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 Stunde</td>
              <td>100€</td>
            </tr>
            <tr>
              <td>2 Stunden</td>
              <td>200€</td>
            </tr>
            <tr>
              <td>3 Stunden</td>
              <td>300€</td>
            </tr>
            <tr>
              <td>4 Stunden</td>
              <td>400€</td>
            </tr>
            <tr>
              <td>5 Stunden</td>
              <td>500€</td>
            </tr>
            <tr>
              <td>6 Stunden</td>
              <td>600€</td>
            </tr>
            <tr>
              <td>7 Stunden</td>
              <td>700€</td>
            </tr>
            <tr>
              <td>8 Stunden</td>
              <td>800€</td>
            </tr>
            <tr>
              <td>9 Stunden</td>
              <td>900€</td>
            </tr>
            <tr>
              <td>10 Stunden</td>
              <td>1000€</td>
            </tr>
            <tr>
              <td>11 Stunden</td>
              <td>1100€</td>
            </tr>
            <tr>
              <td>12 Stunden</td>
              <td>1200€</td>
            </tr>
            <tr>
              <td>13 Stunden</td>
              <td>1300€</td>
            </tr>
            <tr>
              <td>14 Stunden</td>
              <td>1400€</td>
            </tr>
            <tr>
              <td>15 Stunden</td>
              <td>1500€</td>
            </tr>
            <tr>
              <td>16 Stunden</td>
              <td>1600€</td>
            </tr>
            <tr>
              <td>17 Stunden</td>
            </tr>
          </tbody>
        </table>
      </ContentCard>
      <ContentCard addStyles="w-full md:w-2/3 lg:w-2/5">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-start">Sonderpreise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 Stunde</td>
              <td>100€</td>
            </tr>
            <tr>
              <td>2 Stunden</td>
              <td>200€</td>
            </tr>
            <tr>
              <td>3 Stunden</td>
              <td>300€</td>
            </tr>
            <tr>
              <td>4 Stunden</td>
              <td>400€</td>
            </tr>
            <tr>
              <td>5 Stunden</td>
              <td>500€</td>
            </tr>
            <tr>
              <td>6 Stunden</td>
              <td>600€</td>
            </tr>
            <tr>
              <td>7 Stunden</td>
              <td>700€</td>
            </tr>
            <tr>
              <td>8 Stunden</td>
              <td>800€</td>
            </tr>
            <tr>
              <td>9 Stunden</td>
              <td>900€</td>
            </tr>
            <tr>
              <td>10 Stunden</td>
              <td>1000€</td>
            </tr>
            <tr>
              <td>11 Stunden</td>
              <td>1100€</td>
            </tr>
            <tr>
              <td>12 Stunden</td>
              <td>1200€</td>
            </tr>
            <tr>
              <td>13 Stunden</td>
              <td>1300€</td>
            </tr>
            <tr>
              <td>14 Stunden</td>
              <td>1400€</td>
            </tr>
            <tr>
              <td>15 Stunden</td>
              <td>1500€</td>
            </tr>
            <tr>
              <td>16 Stunden</td>
              <td>1600€</td>
            </tr>
            <tr>
              <td>17 Stunden</td>
            </tr>
          </tbody>
        </table>
      </ContentCard>
      <ContentCard addStyles="w-full md:w-2/3 lg:w-2/5">
        <table class="w-full">
          <thead>
            <tr>
              <th class="text-start">Sonderpreise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1 Stunde</td>
              <td>100€</td>
            </tr>
            <tr>
              <td>2 Stunden</td>
              <td>200€</td>
            </tr>
            <tr>
              <td>3 Stunden</td>
              <td>300€</td>
            </tr>
            <tr>
              <td>4 Stunden</td>
              <td>400€</td>
            </tr>
            <tr>
              <td>5 Stunden</td>
              <td>500€</td>
            </tr>
            <tr>
              <td>6 Stunden</td>
              <td>600€</td>
            </tr>
            <tr>
              <td>7 Stunden</td>
              <td>700€</td>
            </tr>
            <tr>
              <td>8 Stunden</td>
              <td>800€</td>
            </tr>
            <tr>
              <td>9 Stunden</td>
              <td>900€</td>
            </tr>
            <tr>
              <td>10 Stunden</td>
              <td>1000€</td>
            </tr>
            <tr>
              <td>11 Stunden</td>
              <td>1100€</td>
            </tr>
            <tr>
              <td>12 Stunden</td>
              <td>1200€</td>
            </tr>
            <tr>
              <td>13 Stunden</td>
              <td>1300€</td>
            </tr>
            <tr>
              <td>14 Stunden</td>
              <td>1400€</td>
            </tr>
            <tr>
              <td>15 Stunden</td>
              <td>1500€</td>
            </tr>
            <tr>
              <td>16 Stunden</td>
              <td>1600€</td>
            </tr>
            <tr>
              <td>17 Stunden</td>
            </tr>
          </tbody>
        </table>
      </ContentCard>
    </div>
  </main>
</Layout>
