---
import ContentCard from "../components/ContentCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Service" currentPage="service">
  <h1 class="text-white font-bold py-6 text-xl lg:text-3xl">Service</h1>
</Layout>
