---
import MobileNav from "../components/MobileNav.tsx";
import logo from "../LOGOblack1.png";

interface Props {
  title: string;
  currentPage: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <nav
      class="flex justify-between items-center pt-6 pb-3 font-medium px-8 md:px-16 lg:px-32 fixed top-0 w-full bg-stone-100 bg-opacity-90 z-10"
    >
      <a href="/">
        <img src={logo.src} class="h-10" alt="logo campingpark" />
      </a>
      <ul class="justify-end gap-3 text-sm hidden lg:flex">
        <li>
          <a
            href="/"
            class={Astro.url.pathname === "/"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Startseite</a
          >
        </li>
        <li>
          <a
            href="/gastronomie"
            class={Astro.url.pathname === "/gastronomie"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Gastronomie</a
          >
        </li>
        <li>
          <a
            href="/countryfest"
            class={Astro.url.pathname === "/countryfest"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Countryfest</a
          >
        </li>
        <li>
          <a
            href="/preise"
            class={Astro.url.pathname === "/preise"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Preise</a
          >
        </li>
        <li>
          <a
            href="/service"
            class={Astro.url.pathname === "/service"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Service</a
          >
        </li>
        <li>
          <a
            href="/kontakt"
            class={Astro.url.pathname === "/kontakt"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Kontakt</a
          >
        </li>
        <li>
          <a
            href="/impressum"
            class={Astro.url.pathname === "/impressum"
              ? "bg-slate-500 text-stone-100 px-2 py-1 rounded-lg"
              : "px-2 py-1"}>Impressum</a
          >
        </li>
      </ul>
      <MobileNav currentPage={Astro.url.pathname} client:load />
    </nav>
    <div class="mt-28">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-image: url("../bg.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
</style>
